$titlesFontFamily: 'Poppins', sans-serif;
$textsFontFamily: 'Lato', sans-serif;

$primaryColor: #744081;
$primaryColorHover: #8a6494;
$textsColor: #242424;

$breakpointLaptop: 1368px;
$breakpointTablet: 980px;
$breakpointMobile: 680px;

$cardShadow: rgba(105, 100, 100, 0.35) 0px 5px 15px;