/* Definir variables Sass para Colores, Fonts, backgrounds, borders, border-radius, y todo lo que se pueda reutilizar. */

$titlesFontFamily: 'Poppins', sans-serif;
$textsFontFamily: 'Lato', sans-serif;

$h1Size: 24px;
$h2Size: 20px;
$h3Size: 18px;
$h4Size: 16px;
$h5Size: 14px;
$h6Size: 12px;

$clickableTextSize: 12px;

$letterSpacing: 2px;

$primaryColor: #744081;
$primaryColorHover: #8a6494;
$sideBarColor: #dbdbdb;

$textsColor: #474747;
$secondaryText: #c9c9c9;

$movieCardBorder: 8px;

$movieTitleSize: 20px;
$movieSubtitleSize: 12px;

//buscar mixins
$breakpointLaptop: 1368px;
$breakpointTablet: 980px;
$breakpointMobile: 680px;

$cardShadow: rgba(105, 100, 100, 0.35) 0px 5px 15px;