@mixin movieCardImage($sizeW, $sizeH, $shadow, $radius: 0, ){
    width: $sizeW;
    height: $sizeH;

    @if $radius != 0{
        border-radius: $radius;
    }
    box-shadow: $shadow;
}

@mixin makeTitle($color, $weight, $size){
  text-transform: uppercase;
  letter-spacing: $letterSpacing;
  color: $color;
  font-weight: $weight;
  font-size: $size;
}